body {
	background: #494848;
}
#title {
	font-style: 20px;
	color:#fff;
	text-align: center;
}
#score {
	margin:auto;
	height:5px;
	width:5px;
	position: relative;
	margin-bottom:15px;
	color: white;
	font-size: 18px;
}
#container {
	width:205px;
	height: 205px;
	border-radius: 150px;
	background: #F7F7F7;
	margin:auto;
	padding:25px;
	
}
.button {
	height:100px;
	width:100px;
	outline: none;
	border:none;
	padding:0;
}


.button1 {
	border-top-left-radius:100px;
	position: relative;
	background: red;


}

.button1:active {

	box-shadow:inset 0 0 10px #000000;
	opacity: .7;
}


.button2 {
	border-top-right-radius:100px;
	position: relative;
	background: blue;

}



.button2:active {
	box-shadow:inset 0 0 10px #000000;
	opacity: .7;
}
.button3 {
	border-bottom-left-radius:100px;
	position: relative;
	background: yellow;
}

.button3:active {
	box-shadow:inset 0 0 10px #000000;
	opacity: .7;

}

.button4 {
	border-bottom-right-radius:100px;
	position: relative;
	background: green;

}

.button4:active {
	box-shadow:inset 0 0 10px #000000;
	opacity: .7;
}

#start {
	height:50px;
	width: 100px;
	display: block;
	position: relative;
	top:25px;
	left:50px;
}
#playAgain {
	height:50px;
	width: 100px;
	display: none;
	position: relative;
	top:25px;
	left:50px;

}
span {
	display: block;
}

.glow {
	box-shadow:inset 0 0 10px #000000;
	opacity: .7;
}

.test {
	background: black;
}