body {
    background-color: rgba(255, 249, 238, 0.63) ;
}

#header {
    width: 100%;
    background-color: brown;
}

h1 {
    font-family: 'Indie Flower', cursive;
    color: yellow;
    font-size: 6em;
    letter-spacing: .15em;
    text-align: center;
    margin: auto;
}
h2 {
    text-transform: uppercase;
    font-size: 2em;
}

.white {
    color: white;
    font-size: 4rem;
}

#peter_chickenDiv {}

#peter {
    float: left;
}

#chicken {
    float: right;
}

.images {}

.clearFloat {
    clear: both;
    margin: 0px;
    padding: 0px;
}

#buttonsDiv {
    text-align: center;
}

#peterPointsBtn {
    margin-left: ;
}

#chickenPointsBtn {
    margin-left: ;
}

.pointButtons {
    width: 200px;
    height: 75px;
    color: white;
    background-color: green;
}
.attackButtons {
    
}
#attackPeterBtn {
    margin-left: ;
}
#attackChickenBtn {
    margin-left: ;
}
.inline {
    display: inline;
}

#playBtn {
    width: 200px;
    height: 75px;
    color: white;
    border: 6px solid green;
    background-color: black;
}

.center {
    text-align: center;
}

.buttonText {
    font-size: 4em;
}