body {
	background: #494848;
}

#win {
	color: #fff;
	text-align: center;
	position: absolute;
	top:125px;
	left: 150px;
	z-index: 2;
	background: red;
	font-size: 25px;
	width: 550px;
	padding:10px;
	display: none;
}

#masterContainer {
	position: relative;
	width:850px;
	margin:auto;

}
#darth {
	height: 200px;
	width: 250px;
	position: absolute;
	top:10px;
	right:15px;
	display: none;
	z-index: 1
}
#title {
	font-style: 20px;
	color:#fff;
	text-align: center;
}
#counter {
	color:white;
	text-align: center;
	font-size: 20px;

}

#scoreDiv {
	height:50px;
	width: 200px;
	display: block;
	position: absolute;
	top:80px;
	margin:auto;
}
#scoreLabel {
	height:25px;
	width:85px;
	color: white;
}
#score {
	margin:auto;
	position: relative;
	margin-bottom:15px;
	color: white;
	font-size: 18px;
}
#container {
	width:205px;
	height: 205px;
	border-radius: 150px;
	background: #F7F7F7;
	margin:auto;
	padding:25px;
	position: relative;
	
}
.button {
	height:100px;
	width:100px;
	outline: none;
	border:none;
	padding:0;
}
.hover:hover {
	box-shadow:inset 0 0 10px #000000;
	opacity: .6;
}


.button1 {
	border-top-left-radius:100px;
	position: relative;
	background: red;


}


.button1:active{

	box-shadow:inset 0 0 10px #000000;
	opacity: .6;
}


.button2 {
	border-top-right-radius:100px;
	position: relative;
	background: blue;

}



.button2:active {
	box-shadow:inset 0 0 10px #000000;
	opacity: .6;
}
.button3 {
	border-bottom-left-radius:100px;
	position: relative;
	background: yellow;
}

.button3:active {
	box-shadow:inset 0 0 10px #000000;
	opacity: .6;

}

.button4 {
	border-bottom-right-radius:100px;
	position: relative;
	background: green;

}

.button4:active {
	box-shadow:inset 0 0 10px #000000;
	opacity: .6;
}

#start {
	height:50px;
	width: 100px;
	display: block;
	position: absolute;
	top:350px;
	left:375px;
	margin: auto;
}
#metal {
	height:50px;
	width: 50px;
	display: block;
	position: absolute;
	border:none;
	margin:auto;
	background: red;
}
#playAgain {
	height:50px;
	width: 100px;
	display: none;
	position: absolute;
	top:350px;
	left:375px;
	margin: auto;
	

}
span {
	display: block;
}

.glow {
	box-shadow:inset 0 0 10px #000000;
	opacity: .6;
}

.btnDarken{
	background: black;
}

#explosion {
	width:205px;
	position: absolute;
	display: none;
	top:70px;
	border-radius: 200px;
	z-index: 2
}