body {
	width: 100%;
	background: url("http://vignette2.wikia.nocookie.net/deadpool/images/5/5e/2293-marvel-deadpool-simple-logo-wallpaper-1280x1024-customity.jpg/revision/latest?cb=20110314222646") no-repeat;
}

#header {
	border: 4px solid black;
	box-shadow: 0px 5px 10px red;
	margin: 10px;
}
.header {
	color: white;
	font-family: 'Creepster', cursive;
	font-size: 60px;
	margin: 10px;
	padding-left: 40px;
}

#main{
	width: 100%;
	height: 750px;
}

#main_character{
	display: inline-block;
	width: 25%;
}

.deadpool {
	width: 300px;
	height: 320px;
	position: relative;
	border: 2px solid black;
	border-radius: 6px;
	top: 200px;
}

.buttons{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.buttons li{
	float: left;
	position: relative;
	margin: 5px;
	padding: 0px;
	top: 200px;
}

#scrollPage{
	display: inline-block;
	position: relative;
	background: rgba(110, 22, 21, .6);
	border: 1px solid white;
	border-radius: 20px;
	width: 48%;
	height: 320px;
	top: 50px;

}

#zombies {
	display: inline-block;
	width: 25%;
}

.zombie {
	width: 300px;
	height: 320px;
	position: relative;
	border: 2px solid red;
	border-radius: 6px;
	left: 20px;
	top: 200px;

}

#footer {
	border-top: 2px solid white;
	height: 60px;
	text-align: center;
}

footer {
	font-family: 'Fontdiner Swanky', cursive;
	font-size: 20px;
	margin-top: 20px;
	color: white;
}
