#header {
    width: 100%;
    background-color: blue;
}

h1 {
    font-family: 'Indie Flower', cursive;
    color: yellow;
    font-size: 9em;
    text-align: center;
    margin: auto;
}

.white {
    color: white;
    font-size: 6rem;
}

#peter_chickenDiv {}

#peter {
    float: left;
}

#chicken {
    float: right;
}

.images {}

#textArea {
    width: 40rem;
    height: 25rem;
    float: left;
    border: 2px solid black;
    text-align: center;
    margin: 8em 0 0 1em;
}

.clearFloat {
    clear: both;
    margin: 0px;
    padding: 0px;
}

#point_buttonsDiv {}

#peterPointsBtn {
    margin-left: 7em;
}

#chickenPointsBtn {
    float: right;
    margin-right: 7em;
}

.pointButtons {
    width: 300px;
    height: 100px;
    color: white;
    background-color: green;
}

#playBtn {
    width: 300px;
    height: 100px;
    color: white;
    border: 6px solid green;
    background-color: black;
}

.center {
    text-align: center;
}

.buttonText {
    font-size: 4em;
}