


/***********************
OVERLAY
**************************/

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;	
    z-index: 10000;


}


#Btn {

    background: transparent;
    color: transparent;
	border: none;
	position: relative;
	top: 40%;
	left: 40%;
	font-family: 'Abel', sans-serif;
	font-size: 5em;
	min-height: 10%;
	min-width: 15%;
	padding:1%;
	transition: color ease 1.5s;


}

#Btn:hover {
 	color: white;
 	border-left:1px solid white;  
}

.space{
	height: 100%;
	width: 100%;
	position: relative;
	-webkit-filter: blur(1px);
	filter: blur(1px);
	background: linear-gradient(rgba(255,248,231, .6), rgba(255,248,231, .6)), url('https://fathomazure.files.wordpress.com/2013/11/image-fascinating-images-from-outer-space-update-dec_4958696.jpg') repeat-y;
	-webkit-animation: backgroundScroll 60s ease infinite;
	animation: backgroundScroll 60s ease infinite;

}

@-webkit-keyframes backgroundScroll {
from {background-position: center;}
to {background-position: center right;}
}

@keyframes backgroundScroll {
from {background-position: center;}
to {background-position: center right;}
}



/***********************
GAME SCREEN
**************************/

/*container*/
.container{
	height: 600px;
	width: 90%;
	margin: 45px auto;
	background: url('https://fathomazure.files.wordpress.com/2013/11/image-fascinating-images-from-outer-space-update-dec_4958696.jpg') repeat-y;
-webkit-animation: backgroundScroll 60s ease-in-out infinite;
animation: backgroundScroll 60s ease-in-out infinite;
	padding: 1% ;
}
	
@-webkit-keyframes backgroundScroll {
from {background-position: center;}
to {background-position: center right;}
}

@keyframes backgroundScroll {
from {background-position: center;}
to {background-position: center right;}
}



.deathContainer {
    height: 6.25em;
    width: 6.625em;
	position: absolute;


}

#deathStar {
    background: url('http://img2.wikia.nocookie.net/__cb20130901195227/epicrapbattlesofhistory/images/9/9f/Death_Star_-_1st.png') no-repeat;
    background-size: 6.375em;
    height: 6.5em;
    width: 6.625em;
    position: relative;
    /* top: 4.375em; */
    left: 3.25em;
   
}

/*planets*/
#planets{
    background: url('http://i416.photobucket.com/albums/pp242/soa_rukia/desert_planet_resource_by_ziliran-d3gtwm1_zps749a628b.png') no-repeat;
    background-size: 9.375em;
    height: 150px;
    width: 150px;
    position: relative;
    cursor: pointer;

}



.replacePlanets{
	display: none;
}




/*healthbar*/
#status{
	position: relative;
   	color: white;
    margin: 0 auto;
    text-align: center;
    font-size: 2em;

}



.userContainer {

    height: 2.5em;
    width: 90%;
    position: absolute;
    top: 37.365em;
    background: rgba(80, 74, 75, .4);
    margin: 0 auto;

}

#health{
	width:100%;
	height: 100%;
	background: red;

	position: absolute;
	transition: width ease-out 10s;
}
#health:hover{
	width:0%;
	
}

.attack{

}

/*.health:hover{
	width: 10%;
}*/

/*score*/
.scoreboard{
	float: right;
	text-align: center;
	position: relative;
	background: rgba(0,0,0, .4);
	color:#FFF8E7;
	font-family: 'Abel', sans-serif;
	display: block;
	padding:10px;
}

.score{
	font-size: 2em;
	font-weight: bold;
	display: block;
	margin: 0px;
	display: inline;
}

#points {
	font-size: 2em;
	text-align: center;
	position: relative;
	margin: 0px;
	display: inline;
	padding-left: 5px;
	

}


/***********************
DESCRIPTION
**************************/













