body {
  background: url("http://vignette3.wikia.nocookie.net/starwars/images/7/72/Hyperspace-SWPuzzle.jpg/revision/latest?cb=20101018151244");
}

img {
  height: 200px;
  width: 300px;
}

.title {
  text-align: center;
  color: #ecc760;
}

.title h1 {
  font-size: 50px;
}
.title h2 {
  font-size: 40px;
}

.battleContainer {
  border: 1px solid #59626d;
  width: 300px;
  float: left;
  margin-left: 150px;
}

#vs {
  color: #e87e50;
  font-size: 30px;
  margin-top: 50px;
  margin-left: 140px;
  float: left;
}